<div class="search-wrapper hidden-xs">
    <span class="glyphicon glyphicon-search" title="{{texts.hover}}"></span>
    <form class="search-form" method="get" action="/">
        <input type="search" name="s" class="search-field" placeholder="{{texts.placeholder}}"/>
    </form>
    <div class="clearfix"></div>
</div>
