<div class="search-wrapper">
    <form class="search-form" method="get" action="/search.php">
        <input type="search" name="q" class="search-field" placeholder="{{texts.placeholder}}"/>
    </form>
    <span class="glyphicon glyphicon-search" title="{{texts.hover}}"></span>
    <div class="clearfix"></div>
</div>